.operationTable {

  input + span {
    opacity: 0;
    overflow: auto;
    position: absolute;
    padding: 0 10px 0 5px;
    white-space: nowrap;
  }

  .rowMove {
    position: absolute;
    left: -33px;
  }

  .rowUp {
    top: -1px;
  }

  .rowDown {
    bottom: -1px;
  }

  .groupButton {
    display: flex;
  }

  .groupButton button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 32px;
  }
}

.buttonEditItemOperationModalWindow {
  & .textFields {
    display: flex;
    flex-wrap: wrap;
  }

  & .textField {
    width: calc(50% - 15px);
    margin: 0 30px 30px 0;
  }

  & .textField:nth-child(2n) {
    margin: 0 0 30px 0;
  }

  & .textField:nth-last-child(-n+2){
    margin-bottom: 0;
  }

  & .MuiFormHelperText-root {
    position: absolute;
    top: 52px;
  }
}


.MuiMenu-list {
  padding: 0 !important;
}

.inputCheckboxs {
  display: flex;
  margin: 15px 0 0 0;
}

.buttonAddContentModalWindow {

  & .contentOperation {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  & .contentOperation__item {
    width: 33.333%;
  }

  & .MuiFormHelperText-root {
    position: absolute;
    top: 52px;
  }

}

